/* Flashing */
.hover13 :hover img {

    opacity: 1;
    -webkit-animation: flash 1.5s;
    animation: flash 1.5s;
    ;
}
@-webkit-keyframes flash {
    0% {

        opacity: .4;
    }
    100% {

        opacity: 1;
    }
}
@keyframes flash {
    0% {
        color: red;
        opacity: .4;
    }
    100% {
        color: red;
        opacity: 1;
    }
}