#pokeNames {
    color: #fff;
    font-family: 'Rubik Mono One', sans-serif;
    font-size: 40px;
    text-align: center;
    text-shadow: 10px 10px 20px #FF0000, -5px -5px 20px #FFFFFF;
    -webkit-text-stroke: 2px #FF5E00;
    -webkit-text-fill-color: transparent;

}

#pokeNames2 {
    color: #fff;
    font-family: 'Rubik Mono One', sans-serif;
    font-size: 55px;
    text-align: center;
    text-shadow: 10px 10px 20px #FFFFFF, -5px -5px 20px #0000F3;
    -webkit-text-stroke: 3px #225E20;
    -webkit-text-fill-color: transparent;

}

/*#pikaFight {*/
/*    !*background-color: #FFFFFF;*!*/
/*    width: 500px;*/
/*    height: 600px;*/
/*    margin-left: 2%;*/
/*}*/

#pikaFight {
    /*background-color: #FFFFFF;*/
    width: 500px;
    height: 600px;
    margin-left: 2%;
    flex-wrap: nowrap;
    /*display: inline-flex;*/
    vertical-align: top;
    display: inline-block;
    z-index: 1;


}

#pikaFight2 {
    /*background-color: #FFFFFF;*/
    width: 500px;
    height: 600px;
    margin-right: 2%;
    flex-wrap: nowrap;
    /*display: inline-flex;*/
    vertical-align: top;
    display: inline-block;
    z-index: 1;

}

#fightButton {
    width: 130px;
    height: 50px;
    background-color: red;
    color: #FFFFFF;
    margin-top: 30%;
    margin-right: 200px;
    margin-left: 200px;
    z-index: 1;

}

#textOne{
    font-family: 'Rubik Mono One', sans-serif;
    font-weight: bold;
}

